@media screen and (max-width: 768px) {
    header{
        gap: 1rem;
    }
    .header-logo img{
        width: 120px;
    }
    .header-cta{
        margin-left: auto;
    }
    .header-cta .btn{
        padding: 5px 10px;
        font-size: 0.9rem;
    }
    .header-nav{
        position: fixed;
        inset: 0;
        z-index: 999;
        height: 100svh;
        background-color: white;
        padding: 15px;
        transform: translateX(-100%);
        visibility: hidden;
        transition: transform 0.3s ease-in-out 0s, visibility 0.3s 0.3s;
        /* width: 100%; */
    }
    .header.dark .header-nav{
        background-color: black;
    }
    .header .open-light,
    .header .close-light{
        display: none;
    }
    .header.dark .open-light,
    .header.dark .close-light{
        display: block;
    }
    .header.dark .open-dark,
    .header.dark .close-dark{
        display: none;
    }
    .header-nav.active{
        transform: translateX(0);
        visibility: visible;
        transition: transform 0.3s ease-in-out 0s, visibility 0s 0s;
    }
    .header-nav ul{
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .header-nav ul .link{
        display: block;
        padding: 5px;
    }
    .menu-open,
    .menu-close{
        display: block;
    }
    #blob-1,
    #blob-3{
        width: 300px;
        /* height: 300px; */
    }
    #blob-2{
        width: 200px;
        /* height: 300px; */
    }
    .hero-title{
        font-size: 1.875rem;
    }
    .hero-description{
        font-size: 1rem;
    }
    .hero-btn{
        font-size: 1rem;
        /* padding: 0.5rem 1.5rem; */
    }
    .bg-circle{
        height: 50vh;
        width: 50vh;
    }
    .services-title{
        font-size: 1.25rem;
    }
    .services-card-outer{
        padding: 10px;
    }
    .services-card{
        padding: 10px;
    }
    .services-card-image{
        width: 50px;
    }
    .services-card-title{
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
    }
    .services-card-description{
        font-size: 0.875rem;
    }
    .services-card-btn{
        font-size: 0.9rem;
        padding: 5px 10px;
        margin-top: 1rem;
        margin-bottom: 0px;
    }
}